<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form #myForm="ngForm" action="post">
      <div>
        <label>url: </label>
        <input class="form-control" name="url" ngModel required/>
        <label>driver: </label>
        <input class="form-control" name="driver" ngModel required/>
        <label>user: </label>
        <input class="form-control" name="user" ngModel required/>
        <label>password: </label>
        <input class="form-control" name="password" ngModel required/>
        <label>schema: </label>
        <input class="form-control" name="schema" ngModel required/>
      </div><br>
      <div class="form-group">
        <button [disabled]="myForm.invalid"
                class="btn btn-success" (click)="add(myForm)">Сохранить</button>
      </div>
    </form>
  </div>
</div>

