<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Your Tables</h2>
    <table border="1" class="tables table table-striped">
      <tr>
        <th>name</th>
        <th>columnCount</th>
        <th>rowCount</th>
        <th>show statistics</th>
      </tr>
      <tr *ngFor="let table of tables">
        <td>{{table.name}}</td>
        <td>{{table.columnCount}}</td>
        <td>{{table.rowCount}}</td>
        <td><button class="btn btn-success small" (click)="showColumns(table)">View Details</button></td>
      </tr>
    </table>


    <button (click)="getXml()">get XML</button>

  </div>
</div>


