<h2>My Users</h2>
<table border="1" class="users">
  <tr>
    <th>code</th>
    <th>last_name</th>
    <th>username</th>
    <th>password</th>
    <th>active</th>

  </tr>
  <tr *ngFor="let user of users" (click)="onSelect(user)" >
    <td [class.selected]="user === selectedUser">{{user.code}}</td>
    <td [class.selected]="user === selectedUser">{{user.last_name}}</td>
    <td [class.selected]="user === selectedUser">{{user.username}}</td>
    <td [class.selected]="user === selectedUser">{{user.password}}</td>
    <td [class.selected]="user === selectedUser">{{user.active}}</td>
    <td *ngIf="user === selectedUser"><button (click)="gotoDetail()">View Details</button></td>
  </tr>
</table>

<div *ngIf="user">
  <label>code: </label>
  <input [(ngModel)]="user.code" placeholder="code"/>
  <label>last_name: </label>
  <input [(ngModel)]="user.last_name" placeholder="last_name"/>
  <label>username: </label>
  <input [(ngModel)]="user.username" placeholder="username"/>
  <label>password: </label>
  <input [(ngModel)]="user.password" placeholder="password"/>
  <label>active: </label>
  <input type="checkbox" [(ngModel)]="user.active" placeholder="active"/>
</div>
