<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Список таблиц</h2>
    <table border="1" class="table table-striped">
      <tr>
        <th style="text-align-last: center" width="30%">Имя таблицы</th>
        <th style="text-align-last: center" width="30%">Количество полей</th>
        <th style="text-align-last: center" width="30%">Количество записей</th>
        <th style="text-align-last: center" width="10%">Структура</th>
      </tr>
      <tr *ngFor="let table of tables">
        <td>{{table.name}}</td>
        <td align="center">{{table.columnCount}}</td>
        <td align="center">{{table.rowCount}}</td>
        <td align="center">
          <div *ngIf="table.columns">
            <button class="btn btn-success glyphicon glyphicon-share-alt small" (click)="showColumns(table)"></button>
          </div>
        </td>
      </tr>
    </table>
<!--glyphicon glyphicon-arrow-left -->
    <button class="btn btn-default glyphicon glyphicon-home small" (click)="backToConnections()"></button>
    <button class="btn btn-info glyphicon glyphicon-download-alt small" (click)="getXml()"></button>

  </div>
</div>


