<div *ngIf="connections" class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Список подключений</h2>
    <table border="1" class="table table-striped table-condensed">
      <tr>
        <th width="20%" style="text-align-last: center">URL</th>
        <th width="12%" style="text-align-last: center">Драйвер</th>
        <th width="13%" style="text-align-last: center">Пользователь</th>
        <th width="15%" style="text-align-last: center">Пароль</th>
        <th width="20%" style="text-align-last: center">Схема</th>
        <th width="13%" style="text-align-last: center"></th>

      </tr>
      <tr *ngFor="let connection of connections">
        <td class="editable-td">{{connection.url}}</td>
        <td class="editable-td">{{connection.driver}}</td>
        <td class="editable-td">{{connection.user}}</td>
        <td class="editable-td">{{connection.password}}</td>
        <td class="editable-td">{{connection.schema}}</td>
        <td align="center">
          <button class="btn btn-warning glyphicon glyphicon-pencil small" (click)="edit(connection)"></button>
          <button class="btn btn-danger glyphicon glyphicon-trash small" (click)="delete(connection.id)"></button>
          <button class="btn btn-success glyphicon glyphicon-share-alt small" (click)="try(connection)"></button>
        </td>
      </tr>
    </table>
    <button class="btn btn-info glyphicon glyphicon-plus small" (click)="add()"></button>
  </div>
</div>
