<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Таблица {{ tableName }}</h2>
    <table border="1" class="table table-striped">
      <tr>
        <th style="text-align-last: center" width="10%">Имя поля</th>
        <th style="text-align-last: center" width="10%">NULL</th>
        <th style="text-align-last: center" width="10%">Тип поля</th>
        <th style="text-align-last: center" width="10%">Первичный ключ</th>
        <th style="text-align-last: center" width="10%">Связанная таблица</th>
        <th style="text-align-last: center" width="10%">Связанное поле</th>
        <th style="text-align-last: center" width="10%">Количество различных значений</th>
        <th style="text-align-last: center" width="10%">Количество значений(NOT NULL)</th>
        <th style="text-align-last: center" width="10%">Список редких значений</th>
        <th style="text-align-last: center" width="10%">Класс</th>
        <th style="text-align-last: center" width="10%">Шаблон ввода</th>
        <th style="text-align-last: center" width="10%">Количество шаблонов</th>
        <th style="text-align-last: center" width="10%">Статистика</th>
      </tr>
      <tr *ngFor="let column of columns">
        <td>{{column.name}}</td>
        <td>{{true == column.nullable ? 'Yes' : 'No' }}</td>
        <td>{{column.type}}</td>
        <td>{{true == column.primary ? 'Yes' : 'No' }}</td>
        <td>{{column.foreignKeyTable}}</td>
        <td>{{column.foreignKeyColumn}}</td>
        <td align="center">{{column.countDistinctValues}}</td>
        <td align="center">{{column.count}}</td>
        <td>
          <div *ngIf="column.listOfRareValues">
            <div *ngFor="let value of column.listOfRareValues">
              <p>{{ value }}</p>
            </div>
          </div>
        </td>
        <td>{{column.columnClassName}}</td>
        <td>{{column.pattern}}</td>
        <td align="center">{{column.patternCount}}</td>
        <td align="center">
          <div *ngIf="column.histogram">
            <button class="btn btn-success glyphicon glyphicon-share-alt small" (click)="showStatistics(column)"></button>
          </div>
        </td>
      </tr>
    </table>
    <button class="btn btn-default glyphicon glyphicon-arrow-left small" (click)="backToTables()"></button>
    <button class="btn btn-default glyphicon glyphicon-home small" (click)="backToConnections()"></button>
  </div>
</div>
