<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form #addForm="ngForm">
      <div>
        <label>url: </label>
        <input class="form-control" name="url" ngModel required/>
        <label>driver: </label>
        <input class="form-control" name="driver" ngModel required/>
        <label>user: </label>
        <input class="form-control" name="user" ngModel required/>
        <label>password: </label>
        <input class="form-control" name="password" ngModel required/>
        <label>schema: </label>
        <input class="form-control" name="schema" ngModel required/>
      </div><br>
      <div class="form-group">
        <button [disabled]="addForm.invalid"
                class="btn btn-success" (click)="add(addForm)">Сохранить</button>
      </div>
    </form>
    <div *ngIf="connection">
      <form #editForm="ngForm">
        <div>
          <label>url: </label>
          <input class="form-control" [(ngModel)]="connection.url" name="url" required/>
          <label>driver: </label>
          <input class="form-control" [(ngModel)]="connection.driver" name="driver" required/>
          <label>user: </label>
          <input class="form-control" [(ngModel)]="connection.user" name="user" required/>
          <label>password: </label>
          <input class="form-control" [(ngModel)]="connection.password" name="password" required/>
          <label>schema: </label>
          <input class="form-control" [(ngModel)]="connection.schema" name="schema" required/>
        </div><br>
        <div class="form-group">
          <button [disabled]="editForm.invalid"
                  class="btn btn-success" (click)="add(editForm)">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>

