<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form novalidate (ngSubmit)="onSubmit(connection)" [formGroup]="connection">
      <div class="form-group">
        <label>URL: </label>
          <input class="form-control" type="text" formControlName="url">
      </div>
      <div class="form-group">
        <label>driver: </label>
        <select formControlName="driver" class="form-control">
          <option *ngFor="let driver of drivers" [ngValue]="driver">{{driver}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>user: </label>
          <input class="form-control" type="text" formControlName="user">
      </div>

      <div class="form-group">
        <label>password: </label>
         <input class="form-control" type="user" formControlName="password">
      </div>

      <div class="form-group">
        <label>schema</label>
        <input class="form-control" type="user" formControlName="schema">
      </div>
      <button class="btn btn-default glyphicon glyphicon-arrow-left small" (click)="backToConnections()"></button>
      <button class="btn btn-success" type="submit" [disabled]="connection.invalid">Добавить</button>
    </form>
  </div>
</div>

